* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about_txt {
  font-weight: 500;
  color: #797171;
}
.about_icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #22262a;
  margin-right: 1rem;
  color: #ffffff;
}
.about_icon:hover {
  background-color: whitesmoke;
  color: #22262a;
  transition: 0.5s;
}
.border_bottom {
  border-bottom: 3px solid #4b4847;
}

.card_border {
  outline-style: outset;
  outline-color: whitesmoke;
  outline-width: 0.2rem;
}

/* Form Section */
.address_title {
  color: #be5e5f;
  text-decoration: underline;
}
