* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
.bg-grey {
  background-color: #343a40;
}
.adjust {
  filter: brightness(0.4);
}
.top_70 {
  top: 70%;
}
.size {
  font-size: 3rem;
}
.nav_text {
  transition: 0.5s !important;
  font-size: 1.1rem !important ;
}
.nav_line {
  background-color: #e74c3c !important ;
  color: white !important ;
}
.nav_text:hover {
  color: white !important ;
  background-color: #e74c3c !important ;
  text-transform: uppercase;
  border-radius: 0.4rem !important ;
}
.end_txt:hover {
  color: #e74c3c !important ;
  transition: 0.5s !important ;
}
.gap {
  gap: 4.5rem;
}
.logo {
  font-size: 5rem;
}
.Large_text {
  font-size: 2.5rem;
}
.nav_txt {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.deal_card {
  transition: 0.5s;
}
.offer {
  top: 8%;
  bottom: 8%;
  left: 10%;
  right: 10%;
  background-color: rgba(192, 57, 43, 0.85);
  color: #ffffff;
  opacity: 0;
  border-radius: 6px;
  pointer-events: none;
}
.deal_card:hover .offer {
  animation: open1 0.5s ease-out forwards;
}
.btn_cust {
  background-color: #cd5c5c !important ;
  border: none !important ;
  color: #ffffff !important ;
  transition: 0.5s !important ;
}
.btn_cust:hover {
  transform: scale(1.1);
}

@keyframes open1 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .indicators {
    visibility: hidden;
  }
}
