.bg-grey {
  background-color: #343a40;
}
.size {
  font-size: 3rem;
}
.nav_text {
  transition: 0.5s !important;
  font-size: 1.1rem !important ;
}
.nav_line {
  background-color: #e74c3c !important ;
  color: white !important ;
}
.nav_text:hover {
  color: white !important ;
  background-color: #e74c3c !important ;
  text-transform: uppercase;
  border-radius: 0.4rem !important ;
}
.end_txt:hover {
  color: #e74c3c !important ;
  transition: 0.5s !important ;
}
.nav_txt {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.logo {
  font-size: 5rem;
}
.Large_text {
  font-size: 2.5rem;
}
