.bg-grey {
  background-color: #343a40;
}
.size {
  font-size: 3rem;
}
.nav_text {
  transition: 0.5s !important;
  font-size: 1.1rem !important ;
}
.nav_line {
  background-color: indianred !important ;
  color: white !important ;
}
.nav_text:hover {
  color: white !important ;
  background-color: indianred !important ;
  text-transform: uppercase;
  border-radius: 0.4rem !important ;
}
.end_txt:hover {
  color: indianred !important ;
  transition: 0.5s !important ;
}
.nav_txt {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.logo {
  font-size: 5rem;
}
.Large_text {
  font-size: 2.5rem;
}
.facebook:hover {
  color: #3b5998 !important ;
  transition: 0.5s !important ;
}
.twitter:hover {
  color: #00acee !important ;
  transition: 0.5s !important ;
}
.whatsapp:hover {
  color: #25d366 !important ;
  transition: 0.5s !important ;
}
.youtube:hover {
  color: #ff0000 !important ;
  transition: 0.5s !important ;
}
.prod_w {
  width: 70% !important;
}
.prod2_w {
  width: 75% !important;
}
.res_w {
  width: 50% !important;
}
.home_c {
  color: indianred !important ;
}
.card_border {
  outline-style: outset;
  outline-color: whitesmoke;
  outline-width: 0.2rem;
}
@media (max-width: 992px) {
  .prod_w {
    width: 100% !important;
  }
  .pro2_w {
    width: 100% !important;
  }
  .form_center {
    text-align: center !important;
  }
  .res_w {
    width: 100% !important;
  }
  .btn_stretch {
    width: 100% !important;
  }
}
