* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner-section {
  height: 60vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../media/men/products-background.jpg") top center / cover;
}

/* Products */
.prod_men_title {
  font-weight: 600;
}
.prod_men_txt {
  font-size: 1.3rem;
  color: #777777;
}
.card_ani {
  padding: 0.5rem 0.5rem;
}
.card_ani:hover {
  transform: scale(1.05);
  transition: 0.5s;
  background-color: #343a40;
  color: #ffffff;
}
.icon_hov:hover {
  color: #e74c3c !important ;
  transition: 0.5s !important;
}
/* Products */
