.prod_txt {
  font-size: 1.3rem;
  color: #777777;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.main_title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #1a1a1a;
  font-size: 2.75rem;
  margin-bottom: 0.25rem;
}
/* Form Section */
.address_title {
  color: #be5e5f;
  text-decoration: underline;
}
.feed_txt {
  font-size: 1rem;
  color: #777777;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.name,
.role,
.team_title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #1a1a1a;
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}
.role {
  font-weight: 400;
  color: #6c757d !important;
  font-size: 1rem;
}
.team_title {
  font-size: 2.75rem;
}
.contact_border {
  outline-style: outset;
  outline-color: whitesmoke;
  outline-width: 0.5rem;
}
/* For Contact, About */
.banner-section {
  height: 40vh;
  background: url("../media/About/about-us-page-heading.jpg") top center / cover;
}
.input_txt {
  font-size: 1rem;
  color: indianred;
  font-weight: 600;
}
